@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aaju47');
  src:  url('fonts/icomoon.eot?aaju47#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aaju47') format('truetype'),
    url('fonts/icomoon.woff?aaju47') format('woff'),
    url('fonts/icomoon.svg?aaju47#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand:before {
  content: "\e900";
  color: #bd081c;
}
.icon-brand2:before {
  content: "\e901";
  color: #1e5397;
}
.icon-document-recording:before {
  content: "\e902";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
